main {
  padding-top: 5rem;
  padding-bottom: 1.75rem;
}

thead th {
  background-color: #b3b3b3;
}

tr {
  background-color: #ffffff;
}

.vertical-line td:not(:last-child) {
  border-right: 1px solid #e2e8f0;
}
.vertical-line td {
  border-bottom: 1px solid rgb(17 24 39);
}

select:invalid {
  color: rgb(107 114 128);
  font-size: 0.875rem;
  line-height: 1.25rem;
}